$navbar-height: 8vh;
$home-height: calc(100vh - $navbar-height );
$contacts-height: calc(100vh - $navbar-height );
$projects-height : calc(100vh - $navbar-height );
$skills-height : calc(100vh - $navbar-height );
$radius: 10px;
$color-light: rgb(219, 215, 215);

