@use 'src/styles/vars';
@use "sass:map";


.skills{
  
  background-color: black;
  height: vars.$skills-height;
  color: white;
  padding: 4em;

  &_list{
    
    &_languages{

      height: 35%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      font-weight: bold;
      font-size: 1.5em;
      margin: 1em;
      img{
        vertical-align:middle;
      }

      &_title {
        padding-bottom: 1em;
        font-size: 1.3em;

      }

      &_item{
        padding-bottom: 1em;
      }

      &__progressbarWrapper{
        border-radius: vars.$radius;
        background-color: vars.$color-light;
        
        &_progressbar{ 
            
          height: 1rem;
          border-radius: vars.$radius;
          text-align: right;
          // centrage verticale /!\ dépend de la hauteur
          padding: 0.2rem;
          font-size: 0.8rem;
          animation-duration: 3s;
          animation-name: slidein; 
          
          @keyframes slidein {
          from {
            margin-right: 100%;
            width: 0%;
          }
        
          to {
            margin-right: 0%;
            width: 50%;
          }
        }}
      }
    }

    &_frameworks{

      height: 35%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      font-weight: bold;
      font-size: 1.5em;
      margin: 1em;
      img{
        vertical-align:middle;
      }
      
      &_title {
        padding-top: 1em;
        padding-bottom: 1em;
        font-size: 1.3em;
      }

      &__progressbarWrapper{
        border-radius: vars.$radius;
        background-color: vars.$color-light;
        
        &_progressbar{ 

          height: 1rem;
          border-radius: vars.$radius;
          text-align: right;
          // centrage verticale /!\ dépend de la hauteur
          padding: 0.2rem;
          font-size: 0.8rem;
          animation-duration: 3s;
          animation-name: slidein; 
          
          @keyframes slidein {
          from {
            margin-right: 100%;
            width: 0%;
          }
        
          to {
            margin-right: 0%;
            width: 75%;
          }
        }}
      }
    }

 
  }

  .progressbarWrapper{
    border-radius: vars.$radius;
    background-color: vars.$color-light;
  
    &_progressbar{
      height: 1rem;
      border-radius: vars.$radius;
      text-align: right;
      // centrage verticale /!\ dépend de la hauteur
      padding: 0.2rem;
      font-size: 0.8rem;
      animation-duration: 3s;
      animation-name: slidein;
    }
  }
}
