@use 'src/styles/vars';
.home {
  
  background-image: url("../../assets/images/green.jpg");
  background-position: center;
  background-size: cover;
  height: vars.$home-height;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
    &_firstname {
      font-size: 5.5em ;
      text-align: start;
      font-weight: 700;
      
    }

    &_jobName {
      font-size: 3.5em ;
      text-align: start;
      margin-top: 1em;
      font-weight: 700;
  }
}
