@use 'src/styles/vars';
.contact{
  height: vars.$contacts-height;
  
  &_list{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-around;
    height: 70%;
    font-size: 2em;
    a:hover {
      font-size: 2em;
    }
}
}
