@use 'src/styles/vars';
.contact{
  height: vars.$contacts-height;
  background-color: black;

  
  &_list{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-evenly;
    height: 100%;
    font-size: 3em;
    color: white;
    padding-bottom: 0.5em;
    a:hover {
      font-size: 1.3em;
    }
    img{
      vertical-align:middle;
    }

    &_git{
      display: flex;
      flex-wrap: wrap;
      align-items:center;

      &_name{
        padding-right: 0.5em;
      }
    }

    &_email{
      display: flex;
      flex-wrap: wrap;
      align-items:center;

      &_name{
        padding-right: 0.5em;
      }
    }

    &_linkedin{
      display: flex;
      flex-wrap: wrap;
      align-items:center;

      &_name{
        padding-right: 0.5em;
      }
    }
}
}
