@use 'src/styles/vars';

.navbar {
  background-color: rgb(216, 215, 215);
  border-radius: 5px;
  text-align: center;
  height: vars.$navbar-height;
  width: 100%;
  margin: auto;

  &_menu{
    padding: 0.5em;
    height: 100%;
    display: flex;
    a:hover {
      text-decoration: underline;
    }

  }

  &_item{
    margin: auto;
    border-radius: 45%;
    padding: 0.7em;
    font-size: 1.2em;
  
   
    &--selected{

        background-color: white;
    }
  }
}


