@use 'src/styles/vars';

.progressVisualFull {
  display: flex;
  /* change the value if you want different thickness */
  height: 20px;
  margin: 5px 0;
  border-radius: vars.$radius;
  font-size: 0.8rem;
  text-align: right;
  box-sizing: content-box;
}

.progressVisualPart {
  /* Number of the seconds for complete animation */
  transition: width 3s;
  border-radius: vars.$radius;
}

.pourcentage{
  padding: 25px 0 0 5px;
}

